@charset "utf-8";
/* reset */
html { font-size: 62.5%; }
body,div,ul,ol,li,dl,dt,dd,form,input,fieldset,textarea,p,th,td,h1,h2,h3,h4{ margin:0; padding:0;}
fieldset,img{ border:0;}
body,td,input,select,textarea,h1,h2,h3,h4,font{ font:12px "microsoft yahei",Tahoma, Geneva, sans-serif; font-weight:normal;color:#333;font-size:0.65rem;font-size:12px;}
html,body{ height:100%; width:100%; }
body{ background:#fff;}
ul,ol{ list-style-type:none;}
input,select,textarea{ vertical-align:middle; outline:none; resize:none;}
input::-ms-clear{ display:none;}
table{border-collapse: collapse;border-spacing: 0;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none; color:blue;}
