

.applyWrap {
    width: 100%;
    height: 100%;
    background: #C1DDF2;
    overflow: hidden;
}

.clearfix {
    content: '';
    clear: both;
    display: block;
    overflow: hidden;
}

.applyList {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 620px;
    margin: auto;
    margin-top: 160px;
}

.applyList li {
    width: 300px;
    float: left;
    background: #fff;
}

.apply1 {
    margin-right: 20px;
}

.apply1 .imgBanner {
    background: #177ECB;
}

.apply2 .imgBanner {
    background: #0BCEB9;
}

.imgBanner {
    width: 300px;
    padding: 50px;
}

.imgBanner img {
    display: block;
    width: 100%;
}

.imgDivWrap {
    width: 300px;
}

.imgDiv {
    width: 150px;
    padding: 15px;
    float: left;
    cursor: pointer;
}

.imgDiv img {
    display: block;
    width: 100%;
}

.x-toolbar-footer {
    background: #fff !important;
}

.winPadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnGridContr {
    cursor: pointer;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    background: #50a2f2;
    border: none;
    border-radius: 3px;
    width: 50px;
    height: 22px;
    line-height: 22px;
}
.btnGridContr2 {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    background: #50a2f2;
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 20px;
    line-height: 20px;
}
.mwui-switch-btn {
    width: 78px;
    display: block;
    padding: 1px;
    background: #ff3200 !important;
    color: #000000 !important;
    overflow: hidden;
    border: 1px solid #ff3200;
    border-radius: 18px;
    cursor: pointer;
    margin: auto;
}

.mwui-switch-btn span {
    width: 38px;
    font-size: 14px;
    height: 18px;
    padding: 0px 5px 2px 5px;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#eeeeee, grandientType=1);
    background: white !important;
    border-radius: 18px;
    float: left;
    color: #ff3200 !important;
    text-align: center;
}

.mwui-switch-btn:hover span {
    background: #fff !important;
}

.mwui-switch-btn span.off {
    float: right !important;
}

.add {
    background-image: url(../images/icons/add.png)
}

.remove {
    background-image: url(../images/icons/del.png)
}

.upload {
    background-image: url(../images/icons/upload.png);
}
.span_box {
    position:relative;
    padding:5px;
}
.tip {
    display:block;
    /*background:#f00;*/
    /*border-radius:50%;*/
    width:15px;
    height:15px;
    top:5px;
    right:35px;
    position:absolute;
}
.tip1 {
    display:block;
    width:15px;
    height:15px;
    top:5px;
    right:-15px;
    position:absolute;
}
.red{
    /*background:#FD6262;*/
    background: url("../images/icons/promptlight.png") no-repeat -1px -1px;
}
.yellow{
    /*background:#FFC000;*/
    background: url("../images/icons/promptlight.png") no-repeat -1px -17px;
}
.blue{
    /*background:#49C9FF;*/
    background: url("../images/icons/promptlight.png") no-repeat -1px -33px;

}
.green{
    /*background:#18DDB1;*/
    background: url("../images/icons/promptlight.png") no-repeat -1px -49px;

}
/* .x-monthpicker{
    height: 235px!important;
} */


.x-css-shadow {
    height: 228px;
}

/* .x-datepicker {
    height: 233px !important;
} */

/* .x-monthpicker {
    height: 233px !important;
} */
/* 
.x-datepicker-footer {
    position: relative !important;
    top:35px !important;
} */

.container {
    border-bottom: 1px solid #C9C9C9;
    /* color:#463E3E; */
    width:410px;
    /*height:50px;*/
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* vertical-align: middle; */
}

.item2 {
    padding: 5px 0 0 10px;
    width:100%;
    height: 25px;
    line-height: 25px;
}
.item-left{
    float: left;
}
.item-right{
    float: right;
}

.item3 {
    width:100%;
    overflow: auto;
    padding: 5px 20px 5px 10px;
}

.button-icon-Refresh {background-image: url(../images/icons/refresh.png)}
.button-icon-Add {background-image: url(../images/icons/add.png)}
.button-icon-Edit {background-image: url(../images/icons/edit.png)}
.button-icon-Del {background-image: url(../images/icons/del.png)}

.tree-icon-Users {background-image: url(../images/icons/users.png) !important;}
.tree-icon-User {background-image: url(../images/icons/user.png)  !important;}
.tree-icon-Areas {background-image: url(../images/icons/areas.png)  !important;}
.tree-icon-Area {background-image: url(../images/icons/area.png)  !important;}

.button-icon-Edit {
    background-image: url(../images/icons/edit.png)
}

.button-icon-Del {
    background-image: url(../images/icons/del.png)
}

.tree-icon-Users {
    background-image: url(../images/icons/users.png) !important;
}

.tree-icon-User {
    background-image: url(../images/icons/user.png) !important;
}

.tree-icon-Areas {
    background-image: url(../images/icons/areas.png) !important;
}

.tree-icon-Area {
    background-image: url(../images/icons/area.png) !important;
}

.x-grid-tree-node-expanded .x-tree-icon-parent {background-image:url(../images/sjxz.png) !important;}
.x-tree-icon-parent {background-image:url(../images/sjwxz.png) !important;}

/*.x-grid-tree-node-expanded {background-color:#ee9c38 !important;}*//* 树节点展开后颜色 */
/*.x-tree-node-expanded .x-tree-node-icon{background-image:url(../images/sjxz.png);}*/

.x-grid-row-selected .x-grid-td .x-grid-cell-treecolumn.x-grid-cell-treecolumn {
    background: #ee9c38 url('') !important;
}

.x-toolbar-default {
    background: #FFFFFF url('') !important;
}

.button-icon-Search {
    background-image: url(../images/icons/search.png);
}

.button-icon-Reset {
    background-image: url(../images/resetIcon.png);
}
.x-tab-bar-strip-default{
     border: none!important;
}
.x-tab-bar-default{
    border:none!important;
}
.x-tab-bar-default{
    background-color: #fff!important;
}
.x-tab-default-to{
    border:none!important;
}

.x-tab-default-top, .x-tab-default-left, .x-tab-default-right{
    background-color: #fff!important;
}
.x-tab-bar-strip-default{
    background-color: #fff!important;
}
.x-tab-bar-default-top{
    background-image:none!important;
    /*background-image:linear-gradient(top, #fff, #fff)!important;*/
}
.x-tab-default-top, .x-tab-default-left, .x-tab-default-right{
    border-bottom: 1px solid #B5B8C8!important;
}
.x-tab-default-top-active{
    background-color: #D66D76!important;
}
#welcome{   background: url("../images/pen/indexbg.png") no-repeat;
    height: 100%;
    width: 100%;
    /*float: right;*/
    /*position: relative;*/
    /*display:block;*/
    background-size:100% 100%;
    /*border: 1px solid #d8d8d8;*/
}
/*#westPanelId-body{
    border: 1px solid red;
}
*/
.user-icon{
    margin-top:0px!important;
    background:url("../images/icon/user.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;

}
.user-icon-active{
    margin-top:0px!important;
    background:url("../images/icon/user_active.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.policy-icon{
    margin-top:0px!important;
    background:url("../images/icon/policy.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.policy-icon-active{
    margin-top:0px!important;
    background:url("../images/icon/policy_active.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.task-icon{
    margin-top:0px!important;
    background:url("../images/icon/task.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.task-icon-active{
    margin-top:0px!important;
    background:url("../images/icon/task_active.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.case-icon{
    margin-top:0px!important;
    background:url("../images/icon/case.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.case-icon-active{
    margin-top:0px!important;
    background:url("../images/icon/case_active.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.calculate-icon{
    margin-top:0px!important;
    background:url("../images/icon/calculate.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.calculate-icon-active{
    margin-top:0px!important;
    background:url("../images/icon/calculate_active.png") center center no-repeat!important;
    background-size:100% 100%;
    width:26px!important;
    height:26px!important;
}
.penBtn.active{
    background:#50a2f2!important;
    color:#fff!important;
    /*border:#50a2f2 solid 1px!important;*/
}
.penCase.active{
    background:#50a2f2!important;
    color:#fff!important;
    border:#50a2f2 solid 1px!important;
}

.x-btn-default-toolbar-large .x-btn-inner{
    padding:0!important;
}
.x-btn-default-toolbar-large{
    padding:0!important;
}